$desktop: 1024px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
#postListContainer {
  max-width: 500px;
}
#posts {
  list-style: none;
  margin: 0;
}
.post {
  margin: 2rem 0;

  h1 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1rem;
  }
}

@include desktop {
  #postListContainer {
    max-width: 762px;
  }
  .post {
    margin: 2rem 0;
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1rem;
    }
    p {
      font-size: 1rem;
      margin-bottom: 0;
    }
    a {
      font-size: 1rem;
    }
  }
}
