$desktop: 1024px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
#desktopNavContainer {
  display: none;
}

@include desktop {
  #desktopNavContainer {
    display: flex;
    background-color: #ec5131;
    ul {
      padding: 0;
      margin: 0;
    }
    .ant-row,
    .ant-row-center {
      width: 100%;
      margin: 1rem;
    }
  }
  .navGroup {
    display: flex;
    list-style: none;
    a {
      color: white;
      cursor: pointer;
    }
    li {
      margin-right: 1rem;
      font-size: 1.2rem;
    }
    .social {
      margin-right: 2rem;
      font-size: 1.2rem;
    }
  }
}
