$desktop: 1024px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
#mobileNavContainer {
  padding: 1rem;
  background-color: #ec5131;
  a {
    color: white;
  }
}
#mobileNav {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  list-style: none;
  margin: 0;
  #drawerMenu {
    padding: 0;
    margin: 0;
  }
}
#drawerTopMenu {
  margin: 0;
  margin-bottom: 2rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  a {
    color: white;
    font-size: 1.2rem;
  }
}
.ant-btn,
.ant-btn-ghost {
  color: white;
}
.ant-drawer-body {
  padding: 1rem;
}
.ant-drawer-body {
  background-color: #ec5131;
}
#drawerVerticalMenu {
  margin: 0;

  li {
    list-style: none;
    text-align: center;
    padding-bottom: 1rem;
    a {
      font-size: 1.5rem;
      font-weight: lighter;
      line-height: 2.1;
      letter-spacing: 1px;
      font-family: "Open Sans", sans-serif;
      color: white;
    }
  }
}
@include desktop {
  #mobileNavContainer {
    display: none;
  }
}
