$desktop: 1024px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
#landingHeader {
  height: 28vh;
  // background-color: #f2fbfd;
  background-color: #ec5131;
  margin-bottom: 8rem;
}
#headerHero {
  text-align: center;
  h1 {
    font-size: 1.8rem;
    color: white;
  }
  h3 {
    font-size: 1rem;
    line-height: 1.5;
    color: white;
  }
}
#landingPageContainer {
  main {
    margin: 0 1rem;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
.container {
  margin-bottom: 4rem;
}
#landingPageContainer main h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #ec5131;
}
#viewAllOption {
  margin-top: 2rem;
}
@include desktop {
  #landingPageContainer main {
    // margin: 0 10rem;
  }
  #landingPageContainer main h1 {
    font-size: 1.8rem;
  }
  #landingHeader {
    margin-bottom: 20rem;
    height: 34vh;
  }
  #heroButton {
    width: 10rem;
    height: auto;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  #headerHero {
    h1 {
      font-size: 3rem;
    }
    h3 {
      font-size: 1.5rem;
    }
  }

  .projectImage {
    height: 250px;
    width: 450px;
  }
  #viewAllOption {
    font-size: 1.5rem;
  }
  #newsletterSection {
    max-width: 500px;
    p {
      font-size: 1.5rem;
    }
  }
}
